.order-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.scrollable-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 50px;
  max-height: 90vh; /* You can adjust this to fit your design */
  overflow-y: auto; /* Enables vertical scrolling */
}

.glassy-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  color: #ffffff;
}

.card-title {
  font-weight: bold;
}

.card-content {
  text-align: start;
  color: white;
}

.login-button {
  width: 60%;
  padding: 12px 16px;
  font-size: 16px;
  color: #000; /* white text color */
  background-color: #5ab2ff; /* Yellow button color */
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-top: 10px;
}

@media (max-width: 768px) {
  .scrollable-container {
    grid-template-columns: 1fr;
  }
}
